body {
  /* Set line height to 1.5 times the font size
     and prefer Helvetica where available */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
}